@charset "UTF-8";
* {
    margin: 0;
    padding: 0 auto;
    cursor: url('../IMG/cursortest1.png'), auto;
}


/* Basis Responsive indeling devices */


/* smallere telefoon 0-480px */

@media screen and (max-width: 480px) {
    body {
        background-color: #92C5EB;
    }
    body>main>img {
        margin-left: 20vw;
        border-radius: 25%;
        margin-top: 2vh;
    }
    main {
        min-height: 65vh;
    }
    main.show-small {
        max-width: 98vw;
    }
    body>header {
        background-color: green;
    }
    header>h1 {
        color: #8B0000;
        text-align: center;
    }
    main>h2 {
        font-size: 40px;
        text-align: center;
    }
    body>main>section {
        margin-top: 3vh;
        display: flex;
        column-gap: 4vw;
        margin-left: 20vw;
    }
    body>main>section>p:nth-child(1) {
        background-color: #8B0000;
    }
    body>main>section>p:nth-child(2) {
        background-color: green;
        height: 56px
    }
    body>main>section>p {
        font-size: 20px;
        text-align: center;
    }
    #error {
        display: none;
    }
    #waves>img {
        width: 40vw;
        margin-top: 15vh;
        margin-right: 20vw;
    }
    #waves {
        display: flex;
    }
    footer>h1 {
        color: green;
        text-align: center;
    }
    body>footer {
        background-color: #8B0000;
        height: 30vh;
    }
}


/* Tablets en breedere telefoons min 481px and max 768px */

@media screen and (min-width: 481px) and (max-width: 768px) {
    body {
        background-color: #92C5EB;
    }
    main {
        min-height: 59vh;
    }
    body>main>img {
        margin-left: 30vw;
        border-radius: 25%;
        margin-top: 2vh;
    }
    main.show-small {
        max-width: 98vw;
    }
    body>header {
        background-color: green;
    }
    header>h1 {
        color: #8B0000;
        text-align: center;
    }
    main>h2 {
        font-size: 40px;
        text-align: center;
    }
    body>main>section {
        margin-top: 3vh;
        display: flex;
        column-gap: 4vw;
        margin-left: 25vw;
    }
    body>main>section>article:nth-child(1) {
        background-color: #8B0000;
    }
    body>main>section>article:nth-child(2) {
        background-color: green;
        height: 56px
    }
    body>main>section>p:nth-child(1) {
        background-color: #8B0000;
    }
    body>main>section>p:nth-child(2) {
        background-color: green;
        height: 56px
    }
    body>main>section>article>p {
        font-size: 25px;
    }
    #error {
        display: none;
    }
}

@-webkit-keyframes glide {
    from {
        left: 0px;
        top: 0px;
    }
    to {
        left: 0px;
        top: 20px;
    }
}

@-webkit-keyframes glide2 {
    from {
        left: 0px;
        top: 20px;
    }
    to {
        left: 0px;
        top: 0px;
    }
}

#waves>img:nth-child(1) {
    width: 40vw;
    height: 20vh;
    margin-top: 15vh;
    margin-right: 5vw;
    position: relative;
    -webkit-animation: glide 2s ease-in-out alternate infinite;
}

#waves>img:nth-child(3) {
    width: 40vw;
    height: 20vh;
    margin-top: 15vh;
    margin-right: 20vw;
    position: relative;
    -webkit-animation: glide 2s ease-in-out alternate infinite;
}

#waves>img:nth-child(2) {
    width: 10vw;
    height: 15vw;
    margin-top: 15vh;
    margin-right: 5vw;
    position: relative;
    -webkit-animation: glide2 2s ease-in-out alternate infinite;
}

#waves {
    display: flex;
}

footer>h1 {
    color: green;
    text-align: center;
}

body>footer {
    background-color: #8B0000;
    height: 5.6vh;
}


/* Grotere tablets, laptop en smalle schermen min 769px and max 1279px */

@media screen and (min-width: 769px) and (max-width: 1279px) {
    .show-small {
        display: none;
    }
    #error {
        display: block;
        background-color: red;
        margin-top: 45vh;
        text-align: center;
        font-size: 2vw;
    }
    body {
        background-color: black;
    }
    body>section>img {
        display: none;
    }
}


/* Grotere desktops en schermen min 1280px */

@media screen and (min-width: 1280px) {
    .show-small {
        display: none
    }
    #error {
        display: block;
        background-color: red;
        margin-top: 45vh;
        text-align: center;
        font-size: 2vw;
    }
    body {
        background-color: black;
    }
    body>section>img {
        display: none;
    }
}