@charset "UTF-8";
* {
    margin: 0;
    padding: 0 auto;
}


/* Basis Responsive indeling devices */


/* smallere telefoon 0-480px */

@media screen and (max-width: 480px) {
    body {
        background-color: #92C5EB;
    }
    main {
        min-height: 88.9vh;
    }
    main.show-small {
        max-width: 98vw;
    }
    body>header {
        background-color: green;
    }
    header>h1 {
        color: #8B0000;
        text-align: center;
    }
    #error {
        display: none;
    }
    footer>h1 {
        color: green;
        text-align: center;
    }
    body>footer {
        background-color: #8B0000;
        height: 30vh;
    }
    main>h1 {
        text-align: center;
        margin-top: 5vh;
        background-color: green;
        margin: 5vh 20vw;
        border-radius: 6%;
    }
    main>section {
        margin-top: 6vh;
    }
    main>img {
        width: 40vw;
        margin-top: 5vh;
        margin-left: 29vw;
        border-radius: 50%;
    }
    main>section>fieldset>details>img {
        width: 40vw;
    }
}


/* Tablets en breedere telefoons min 481px and max 768px */

@media screen and (min-width: 481px) and (max-width: 768px) {
    body {
        background-color: #92C5EB;
    }
    main {
        min-height: 87vh;
    }
    main.show-small {
        max-width: 98vw;
    }
    body>header {
        background-color: green;
    }
    header>h1 {
        color: #8B0000;
        text-align: center;
    }
    body>main>section>article>p {
        font-size: 25px;
    }
    #error {
        display: none;
    }
    main>h1 {
        text-align: center;
        margin-top: 5vh;
        background-color: green;
        margin: 5vh 20vw;
        border-radius: 6%;
    }
    main>section {
        margin-top: 6vh;
    }
    main>img {
        width: 40vw;
        margin-top: 5vh;
        margin-left: 29vw;
        border-radius: 50%;
    }
    main>section>fieldset>details>img {
        width: 40vw;
    }
    P {
        font-size: 27px;
    }
}

footer>h1 {
    color: green;
    text-align: center;
}

body>footer {
    background-color: #8B0000;
    height: 5.6vh;
}


/* Grotere tablets, laptop en smalle schermen min 769px and max 1279px */

@media screen and (min-width: 769px) and (max-width: 1279px) {
    .show-small {
        display: none;
    }
    #error {
        display: block;
        background-color: red;
        margin-top: 50vh;
    }
    body {
        background-color: black;
    }
    body>section>img {
        display: none;
    }
}


/* Grotere desktops en schermen min 1280px */

@media screen and (min-width: 1280px) {
    .show-small {
        display: none
    }
    #error {
        display: block;
        background-color: red;
        margin-top: 50vh;
    }
    body {
        background-color: black;
    }
    body>section>img {
        display: none;
    }
}